################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CsvToSql.ETL/.vs/CsvToSql.ETL/v15
/CsvToSql.ETL/CsvToSql.ETL/obj
/CsvToSql.ETL/.vs/config
/CsvToSql.ETL/CsvToSql.ETL/bin/Debug/netcoreapp2.1
/CsvToSql.ETL/.vs/CsvToSql.ETL/DesignTimeBuild
