<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ftpusername" value="muv" />
    <add key="ftppassword" value="8uMfmcOPQz2X" />
    <add key="ftpserver" value="ftp://184.72.122.71/muv/teste-muv.csv" />
    <add key="bucketpaths3" value="muv-exam/caiopires" />
    <add key="chaveacesso" value="AKIAIZGATTZBBX6WNZ6A" />
    <add key="chavesecreta" value="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" />
    <add key="workdir" value="c:\\tmp" />
    <add key="connectionString" value="server=mobadserver-test.cdvth9u6s8cf.us-east-1.rds.amazonaws.com;port=3306;database=mobadserver;user=caiopires;password=8uMfmcOPQz2X" />
  </appSettings>
</configuration>